<!DOCTYPE html>

<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Report Submitted </title>
    <link rel="shortcut icon" type="favicon/ico" href="static/images/favicon.ico" sizes=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    

</head>
    <body>
        <br>
        <div style="text-align:center">
            
            <img src="{% static "images/SSlogo.png" %}" alt="Starsight Energy Logo">
            
            
            <h2>You submitted an incident report for {{subject}} {{SiteID}} </h2>
                
        </div>
    
    <div background-image=''>
        <table border="2" width="100%" cellspacing="3" cellpadding="3" class="table table-bordered border-success" >
            <tr>
                <td width="20%">SiteID </td>
                <td width="30%"> {{SiteID}} </td>
            </tr>

            <tr>
                <td>Site Name</td>
                <td>{{site_name}} </td>
            </tr>
        

            <th colspan="4">General Details</th>
       
            <tr>
                <td> Incident Date </td>
                <td>  {{incident_date }} </td>
                <td width="15%"> Incident Time   </td>
                <td width="30%">{{incident_time}}  </td>
            </tr>

            <tr>
                <td> Incident Report to </td>
                <td> {{ reported_to}}  </td>
                <td> Incident Report on </td>
                <td> {{date_reported}}  </td>
            </tr>

            <tr>
                <td> Incident Type </td>
                <td> {{incident_type}} </td>
                <td> Incident Description</td>
                <td> {{incident_description}}  </td>
            </tr>

            <tr>
                <td> Location Type </td>
                <td>  {{incident_area}} </td>

                <td> Incident Area Detail</td>
                <td> {{incident_area_detail}} </td>
            </tr>

            <tr>
                <td> Task Undertaken </td>
                <td>  {{imme_action}} </td>
                <tr>
                    <td> Direct Cause  </td>
                    <td>  {{direct_cause}} </td>
                </tr>
            </tr>

            <tr>
                <td> Root Cause  </td>
                <td> {{root_cause}}  </td>
            </tr>

            <tr>
                <th colspan="4"> Action Taken </th>

                <tr>

                    <td>  Immediately to address DIRECT CAUSES* </td>
                    <td>  {{imme_action}} </td>
                    <td> By whom   : {{imme_action_whom}} </td>
                    <td> By when   : {{imme_action_when}} </td>
                </tr>
                <tr>
                    <td> Second Immediate Action </td>
                    <td> {{imme_action2 }} </td>
                    <td> By whom   :  {{imme_action2_whom }} </td>
                    <td> By when   :  {{imme_action2_when }} </td>
                </tr>


                <tr>
                    <td> Long Term to address CONTRIBUTING CAUSES* </td>
                    <td> {{long_action}}  </td>
                    <td> By whom   : {{long_action_whom}} </td>
                    <td> By when  :  {{long_action_when}}  </td>
                </tr>
                <tr>
                    <td> Second Long Term Action</td>
                    <td> {{long_action2 }} </td>
                    <td> By whom   :  {{long_action2_whom}}  </td>
                    <td> By when  :  {{long_action2_when}}  </td>
                </tr>
            </tr>

            <tr>
                <td> Outcome / Lessons Learned </td>
                <td> {{lessons}}   </td>
            </tr>

            <tr>
                <br>              
            </tr>
            <tr>
                <td> Witnesses </td>
                <td> {{witness }} </td>
            </tr>
            <tr>
                <td> Expected Lost Hours</td>
                <td> {{lost_hr}}  </td>
            </tr>
            <tr>
                <td> Material/Equipment Loss</td>
                <td> {{loss}}  </td>
            </tr>

            <th colspan="4"> Incident Pictures </th>
            <tr>
                <td> Pictures Attached</td>
                
                <td> 
                    <img src="{% get_media_prefix %}{{file1}}" alt="File 1">
                    <img src="{% get_media_prefix %}{{file2}}" alt="File 2"> 
                </td> 
             
              
            </tr>

             <tr>
                <td> </td> 
                
                <td> 
                    <img src="{% get_media_prefix %}{{file3}}" alt="File 3"> 
                    <img src="{% get_media_prefix %}{{file4}}" alt="File 4"> 
                </td>
            </tr>

            <th colspan="4"> Investigation Team </th>
             <tr>
                <td> Name </td>
                <td>{{ name }} </td>
                <td> Job Role</td>
                <td> {{ job_role}} </td>                
            </tr>

            <th colspan="4"> COMMENTS ON INCIDENT AND EFFECTIVENESS OF CORRECTIVE ACTIONS </th>
                <tr>
                    <td style="height:100px"> Supervisor's Comments </td>
                    <td>  </td>
                    <td> Supervisor's Name:</td>
                    <td> Signature and Date</td>                
                </tr>
                <tr>
                    <td style="height:100px"> HSE Manager Comments</td>
                    <td>  </td>
                    <td> HSE Manager's Name: </td>
                    <td> Signature and Date</td>                
                </tr>
                <tr>
                    <td style="height:100px"> CTO's Comments </td>
                    <td >  </td>
                    <td> CTO Name:</td>
                    <td> Signature and Date</td>                
                </tr>

{% comment %} 
            <tr>
                <td> Second Immediate Action(s)   :  {{imme_action2 }} </td>
                <td> Second Immediate Action(s) by whom   :  {{imme_action2_whom }} </td>
                <td> Second Immediate Action(s) when   :  {{imme_action2_when }} </td>
                <td> Second Long Term Action(s)   :  {{long_action2 }} </td>
                <td> Second Long Term Action(s) by whom   :  {{long_action2_whom}}  </td>
                <td> Second Long Term Action(s) when  :  {{long_action2_when}}  </td>
            </tr>

            <tr>
                
                
                <td> Person(s) Involved   :  {{person_involved }} </td>
                <td> Incident Description   :  {{incident_description}}  </td>
                
                
            </tr>
            
            <tr>
            
            <td> Incident Report Method :  {{report_method}}   </td>   
            
            
            
            </tr> {% endcomment %}
            
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
    </body>
    <footer>
        <div style="text-align:center;">
        
        
            <h2>You submitted an incident report for {{subject}} {{SiteID}}</h2>

            <img src="{% static "images/SSlogo.png" %}" alt="Starsight Energy Logo">
            
        </div>
    </footer>
</html>